@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #0d192b;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body main {
  height: 100vh;
  position: relative;
}

body .card {
  max-width: 21rem;
  margin-top: 50%;
  padding: 1.25rem;
  background-color: #14253d;
  border-radius: 15px;
}

body .card .card_showcase {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

body .card .card_showcase::after {
  content: url("data:image/svg+xml,%3Csvg width='48' height='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h48v48H0z'/%3E%3Cpath d='M24 9C14 9 5.46 15.22 2 24c3.46 8.78 12 15 22 15 10.01 0 18.54-6.22 22-15-3.46-8.78-11.99-15-22-15Zm0 25c-5.52 0-10-4.48-10-10s4.48-10 10-10 10 4.48 10 10-4.48 10-10 10Zm0-16c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6Z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
  background: rgba(0, 255, 247, 0.5);
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

body .card .card_showcase:hover::after {
  opacity: 1;
}

body .card .card_showcase .card_image {
  width: 100%;
  display: block;
}

body .card .card_line {
  color: #2f415b;
}

body .card .card_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 0;
}

body .card .card_profile_picture {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  border: solid #ffffff 1px;
  border-radius: 50%;
}

body .card .card_profile_id {
  padding-left: 1rem;
}

.card_title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.25rem 0;
  cursor: pointer;
}

.card_title:hover {
  color: #00fff7;
}

.card_description {
  color: #8bacda;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}

.card_metrics {
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_metrics .card_metrics_points {
  color: #00fff7;
  margin-left: 1.25rem;
}

.card_metrics .card_metrics_points::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 10.216 5.5 18 0 10.216l5.5 3.263 5.5-3.262ZM5.5 0l5.496 9.169L5.5 12.43 0 9.17 5.5 0Z' fill='%2300FFF8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 0.75rem;
  height: 1.875rem;
  width: 1.875rem;
  left: 0;
  position: absolute;
}

.card_metrics .card_metrics_clock::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.305 2.007a6.667 6.667 0 1 0 0 13.334 6.667 6.667 0 0 0 0-13.334Zm2.667 7.334H8.305a.667.667 0 0 1-.667-.667V6.007a.667.667 0 0 1 1.334 0v2h2a.667.667 0 0 1 0 1.334Z' fill='%238BACD9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  height: 1.875rem;
  width: 1.875rem;
  left: 63%;
  position: absolute;
}

.card_metrics_clock,
.card_profile_tag {
  color: #8bacda;
}

.card_profile_name {
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
}

.card_profile_name:hover {
  color: #00fff7;
}

footer {
  position: absolute;
  bottom: 0;
  color: #8bacda;
}

footer a {
  color: #00fff7;
}
/*# sourceMappingURL=style.css.map */